.hint {
  background-color: #1d8c1e;
  color: #fff;
  display: block;
  border-radius: 7px;
  height: 20px;
  font-size: 12px;
  margin: 10px 0; }

.add-to-cart {
  width: 160px;
  height: 40px;
  border-radius: 7px;
  color: #8746aa;
  outline: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: 0.5s ease-in-out; }
  .add-to-cart:hover {
    background-color: #8746aa;
    color: #fff;
    border-color: #8746aa; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.input-x {
  width: 80px;
  height: 35px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #eee !important;
  outline: 0;
  box-shadow: unset !important; }

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px; }
  .order-header h4 {
    font-weight: 600;
    margin-top: 5px; }
  .order-header a i {
    font-size: 50px;
    color: #8746aa; }

.side-menu {
  min-height: 500px;
  box-shadow: 1px 4px 8px 3px rgba(36, 41, 46, 0.08);
  border-radius: 12px; }
  @media (max-width: 767px) {
    .side-menu {
      min-height: unset; } }
  .side-menu .nav {
    padding: 15px; }
    .side-menu .nav .nav-link {
      color: #8746aa; }
    .side-menu .nav .nav-link.active {
      background-color: #ffffff !important;
      font-weight: bold; }

.table thead th {
  border-top: 0 !important;
  font-size: 13px; }

.orders-details .table tbody td .add-to-cart {
  background-color: #8746aa;
  border-color: #8746aa;
  color: #fff;
  width: 80px;
  font-size: 14px;
  outline: 0; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif; }

header {
  background-color: #8746aa; }
  header nav {
    width: 100%; }
    header nav a {
      color: #fff !important; }
    header nav .dropdown-menu {
      background-color: #8746aa;
      color: #fff;
      text-align: right;
      top: 45px;
      left: -27px; }
      header nav .dropdown-menu a:hover {
        background-color: #a969cc;
        color: #fff; }
    header nav .navbar-toggler {
      background-color: #fff; }
    header nav form {
      position: relative;
      margin-right: 30px; }
      @media (max-width: 767px) {
        header nav form {
          margin-right: 0; } }
      header nav form i {
        position: absolute;
        right: 20px;
        color: gray; }
      header nav form input {
        padding-right: 40px !important; }
    @media (max-width: 991px) {
      header nav .navbar-nav {
        text-align: right !important; } }

.content {
  margin: 40px;
  text-align: right; }
  @media (max-width: 767px) {
    .content {
      margin: 20px; } }
  .content .products {
    min-height: 500px; }
    .content .products .product-item {
      box-shadow: 1px 4px 8px 3px rgba(36, 41, 46, 0.08);
      border-radius: 12px;
      text-align: center;
      padding: 20px 7px;
      margin-bottom: 20px; }
      .content .products .product-item .img-container img {
        max-height: 250px;
        max-width: 100%;
        cursor: pointer; }
        @media (max-width: 767px) {
          .content .products .product-item .img-container img {
            max-height: 160px; } }
      .content .products .product-item .hint {
        width: 90%;
        margin: 10px auto; }
      .content .products .product-item .hint.warn {
        background-color: #da2222 !important; }
      .content .products .product-item a {
        font-size: 21px;
        color: #232323;
        margin: 20px 0;
        transition: 0.2s font-weight;
        text-decoration: none;
        font-weight: bold;
        color: #8746aa; }
      .content .products .product-item .price {
        font-size: 40px;
        font-weight: bold;
        display: block;
        margin: 15px 0; }
        @media (max-width: 767px) {
          .content .products .product-item .price {
            margin: 0px; } }
      .content .products .product-item .profit {
        color: #8746aa;
        font-size: 18px; }

.carousel-inner {
  max-height: 300px; }

footer {
  background: #08111c;
  color: #fff;
  padding: 30px;
  text-align: right; }
  @media (max-width: 767px) {
    footer {
      padding: 20px; } }
  footer .footer-content .footer-desc p {
    line-height: 1.9;
    margin-top: 30px; }
  footer .footer-content .footer-social {
    margin-right: 156px; }
    @media (max-width: 767px) {
      footer .footer-content .footer-social {
        margin-right: 0; } }
    footer .footer-content .footer-social h4 {
      margin-bottom: 20px;
      margin-top: 25px; }
    footer .footer-content .footer-social input {
      padding: 10px 30px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border: 0;
      outline: 0; }
    footer .footer-content .footer-social button {
      height: 44px;
      border: 0;
      width: 95px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: #8746aa;
      color: #fff; }
      @media (max-width: 767px) {
        footer .footer-content .footer-social button {
          margin-top: 15px; } }
    footer .footer-content .footer-social ul {
      list-style: none;
      margin-top: 20px; }
      footer .footer-content .footer-social ul li {
        display: inline-block; }
        footer .footer-content .footer-social ul li a {
          width: 40px;
          height: 40px;
          display: inline-block;
          background-color: #8746aa;
          border-radius: 4px;
          margin: 10px 5px;
          text-align: center; }
          footer .footer-content .footer-social ul li a i {
            line-height: 40px;
            font-size: 20px;
            color: #fff; }

.breadcrumb {
  margin: 20px 0;
  background-color: #fff;
  padding: .75rem 0 !important; }

.breadcrumb > li + li:before {
  color: #ccc;
  content: "/ ";
  padding: 0 5px; }

.breadcrumb li a {
  color: #8746aa; }

.p-deatil-item {
  display: flex;
  justify-content: space-between;
  text-align: right; }
  .p-deatil-item .img-container img {
    max-width: 450px;
    max-height: 400px; }
    @media (max-width: 767px) {
      .p-deatil-item .img-container img {
        max-width: 100%;
        max-height: 250px; } }
  .p-deatil-item .p-detail-item-content h1 {
    margin-bottom: 30px; }
  .p-deatil-item .p-detail-item-content .price .title, .p-deatil-item .p-detail-item-content .profit .title {
    display: inline-block;
    width: 75px; }
  .p-deatil-item .p-detail-item-content .price .num, .p-deatil-item .p-detail-item-content .profit .num {
    font-size: 25px;
    font-weight: bold; }
  .p-deatil-item .p-detail-item-content .price {
    margin-bottom: 0; }
  .p-deatil-item .p-detail-item-content .profit .num {
    color: #8746aa; }
  .p-deatil-item .p-detail-item-content .delivery-hint {
    line-height: 18px;
    margin-top: 10px; }
  .p-deatil-item .p-detail-item-content .hint {
    text-align: center;
    width: 100% !important; }
  .p-deatil-item .p-detail-item-content .btns-container {
    margin-top: 15px; }
    @media (max-width: 767px) {
      .p-deatil-item .p-detail-item-content .btns-container {
        margin-top: 30px; } }
    .p-deatil-item .p-detail-item-content .btns-container .add-btn {
      background-color: #8746aa;
      color: #fff; }
      @media (max-width: 767px) {
        .p-deatil-item .p-detail-item-content .btns-container .add-btn {
          width: 130px; } }
    .p-deatil-item .p-detail-item-content .btns-container .order-btn {
      margin-top: 10px; }
      @media (min-width: 1200px) {
        .p-deatil-item .p-detail-item-content .btns-container .order-btn {
          margin-right: 15px; } }

.desc {
  text-align: right; }
  @media (max-width: 767px) {
    .desc {
      margin-top: 30px; } }
  .desc ul {
    margin-right: 20px; }
  .desc li {
    line-height: 2; }

.order {
  text-align: right;
  margin-bottom: 70px; }
  .order form {
    box-shadow: 1px 4px 8px 3px rgba(36, 41, 46, 0.08);
    border-radius: 12px;
    padding: 20px;
    background-color: #fff; }
    .order form .all-produucts {
      display: flex;
      justify-content: space-between; }
      .order form .all-produucts .del-all {
        color: #232323;
        width: 83px;
        border: 0;
        background: none; }
        .order form .all-produucts .del-all:hover {
          color: #e94f4f; }
    .order form .form-check {
      padding: 25px 0; }
      @media (max-width: 767px) {
        .order form .form-check {
          margin-bottom: 25px;
          margin-right: 6px; } }
      .order form .form-check label {
        margin-right: 35px; }
    .order form input, .order form select, .order form textarea {
      box-shadow: inset 0px 4px 8px 2px rgba(88, 108, 138, 0.1);
      border: unset; }
      .order form input:focus, .order form select:focus, .order form textarea:focus {
        box-shadow: 0 0 0 0.1rem #8746aa;
        outline: 0; }
  .order .table thead th {
    border-bottom: unset; }
    @media (max-width: 767px) {
      .order .table thead th {
        padding: 5px 3px;
        text-align: center; } }
  .order .table tbody tr td {
    vertical-align: middle; }
    @media (max-width: 767px) {
      .order .table tbody tr td {
        padding: 0 5px; } }
  .order .table tbody tr .p-detail {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .order .table tbody tr .p-detail {
        max-width: 100px;
        flex-direction: column;
        margin-bottom: 10px; } }
    @media (max-width: 320px) {
      .order .table tbody tr .p-detail {
        max-width: 50px; } }
    .order .table tbody tr .p-detail img {
      width: 80px;
      height: 80px;
      border: 1px solid #ccc;
      border-radius: 12px; }
      @media (max-width: 320px) {
        .order .table tbody tr .p-detail img {
          width: 45px;
          height: 45px; } }
    .order .table tbody tr .p-detail .p-title, .order .table tbody tr .p-detail .p-desc, .order .table tbody tr .p-detail button {
      display: block; }
    .order .table tbody tr .p-detail .p-desc {
      margin: 10px 0;
      min-width: 188px; }
      @media (max-width: 767px) {
        .order .table tbody tr .p-detail .p-desc {
          min-width: 100%; } }
    .order .table tbody tr .p-detail button {
      color: #232323;
      width: 70px;
      height: 30px; }
      .order .table tbody tr .p-detail button:hover {
        background-color: #e94f4f;
        color: #fff;
        border: 0; }
  .order .table tbody tr .profit {
    font-weight: 700;
    color: #8746aa; }
  .order .top-table .products-selection {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .order .top-table .products-selection th {
      border-top: unset; }
    .order .top-table .products-selection .del-all {
      width: 123px;
      height: 40px;
      border-radius: 8px;
      background-color: #fff;
      border: 1px solid #ccc;
      outline: 0;
      transition: 0.5s ease-in-out; }
      .order .top-table .products-selection .del-all:hover {
        background-color: #e94f4f;
        color: #fff;
        border: 0; }
  .order .order-checkout {
    box-shadow: 1px 4px 8px 3px rgba(36, 41, 46, 0.08);
    border-radius: 12px;
    padding: 20px; }
    @media (max-width: 767px) {
      .order .order-checkout {
        margin-top: 20px; } }
    .order .order-checkout .item {
      display: flex;
      justify-content: space-between;
      padding: 10px; }
      .order .order-checkout .item:last-of-type {
        border-top: 1px solid #ccc;
        font-weight: bold;
        font-size: 20px; }
    .order .order-checkout .profit {
      color: #8746aa;
      font-weight: bold;
      font-size: 18px; }
    .order .order-checkout button {
      width: 100%;
      margin-top: 20px;
      background-color: #8746aa;
      color: #fff;
      outline: 0;
      border: 0; }

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  transform: scale(2);
  padding: 10px; }
  input[type=checkbox]:focus {
    box-shadow: 0 0 0 0.1rem transparent !important;
    outline: 0; }

.wrap-mob {
  display: none !important; }
  @media (max-width: 767px) {
    .wrap-mob {
      display: flex; } }

.wallet {
  padding: 20px 0; }
  .wallet .wallet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px; }
    .wallet .wallet-header h4 {
      font-weight: 600;
      margin-top: 5px; }
    .wallet .wallet-header button {
      width: 130px;
      outline: 0; }
  .wallet .wallet-content {
    padding: 20px 16px; }
    .wallet .wallet-content .wallet-item {
      display: flex;
      justify-content: center;
      background-color: #8746aa;
      color: #fff;
      line-height: 50px;
      height: 50px;
      border-radius: 4px; }
      @media (max-width: 767px) {
        .wallet .wallet-content .wallet-item {
          margin-bottom: 15px; } }
      .wallet .wallet-content .wallet-item p, .wallet .wallet-content .wallet-item span {
        font-size: 22px; }
      .wallet .wallet-content .wallet-item span {
        margin-right: 15px; }
    .wallet .wallet-content .profit-item {
      text-align: center;
      padding: 20px;
      margin-top: 20px;
      border-radius: 4px;
      box-shadow: 1px 4px 8px 3px rgba(36, 41, 46, 0.08); }
      .wallet .wallet-content .profit-item .profit-item-title {
        font-size: 20px; }
      .wallet .wallet-content .profit-item .profit-value {
        font-size: 18px; }
      .wallet .wallet-content .profit-item .profit-hint {
        background-color: #f7f7f7;
        border-radius: 4px;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        margin-top: 16px;
        margin-bottom: 0; }

.modal-content {
  border-radius: 12px;
  border: none; }

.modal-body {
  padding: 1rem 0 !important;
  height: 456px;
  overflow: overlay; }

.settings-popup-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px; }
  .settings-popup-header span {
    text-align: center;
    display: block;
    font-weight: 500; }
  .settings-popup-header img {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer; }

.popup-content {
  text-align: right; }
  .popup-content form {
    margin: 30px 42px  !important; }
    .popup-content form .form-control {
      font-size: 10px;
      height: 45px;
      border-radius: 8px;
      box-shadow: inset 0px 4px 8px 2px rgba(88, 108, 138, 0.1);
      border: unset; }
      .popup-content form .form-control:focus {
        color: #495057;
        background-color: #fff !important;
        border-color: #ced4da;
        outline: 0; }
    .popup-content form label {
      font-size: 12px; }
  .popup-content .forget-link {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    color: #0366D6; }
  .popup-content .forget-p {
    padding-top: 31px;
    font-size: 14px;
    width: 300px;
    margin: auto; }
    @media (max-width: 767px) {
      .popup-content .forget-p {
        width: 100% !important; } }

.popup-footer .submit-btn {
  width: 120px;
  height: 38px;
  border-radius: 8px;
  outline: 0;
  margin: 15px auto;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #8746aa;
  color: #fff;
  border: 0; }

.orders {
  text-align: right; }
  .orders .orders-details {
    box-shadow: 1px 4px 8px 3px rgba(36, 41, 46, 0.08);
    border-radius: 12px;
    padding: 35px 20px 15px;
    margin-bottom: 40px; }
    .orders .orders-details .search {
      position: relative;
      margin-bottom: 30px; }
      .orders .orders-details .search i {
        position: absolute;
        right: 20px;
        top: 11px;
        color: gray; }
      .orders .orders-details .search input {
        padding-right: 40px !important;
        width: 99%; }
    .orders .orders-details nav {
      margin-top: 30px; }
      .orders .orders-details nav .page-link {
        color: #8746aa !important; }
      .orders .orders-details nav .page-item.active .page-link {
        z-index: 3;
        color: #fff !important;
        background-color: #8746aa !important;
        border-color: #8746aa !important; }
  .orders .custom-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 15px; }
    .orders .custom-sidebar .list-group.tap-profile {
      box-shadow: 1px 4px 8px 3px rgba(36, 41, 46, 0.08);
      border-radius: 12px; }
      .orders .custom-sidebar .list-group.tap-profile .list-group-item {
        border: unset;
        background-color: transparent !important;
        padding: 15px 20px;
        border-radius: unset;
        position: relative;
        color: #8746aa; }
        .orders .custom-sidebar .list-group.tap-profile .list-group-item .tap-name {
          margin: unset;
          font-size: 14px;
          font-weight: 300; }
        .orders .custom-sidebar .list-group.tap-profile .list-group-item::after {
          position: absolute;
          bottom: 0;
          right: 1px;
          width: 100%;
          height: 1px;
          background-color: rgba(36, 41, 46, 0.08);
          content: ''; }
        .orders .custom-sidebar .list-group.tap-profile .list-group-item:last-of-type::after {
          display: none; }
      .orders .custom-sidebar .list-group.tap-profile .list-group-item.active {
        border-right: 3px solid #8746aa;
        border-radius: 4px; }
        .orders .custom-sidebar .list-group.tap-profile .list-group-item.active .tap-name {
          font-weight: 600; }

@media (max-width: 767px) {
  .login {
    width: 100%; } }
@media (max-width: 1199px) {
  .login {
    margin-top: 50px; } }
@media (min-width: 1200px) {
  .login {
    width: 520px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }
.login .login-title {
  text-align: center;
  font-weight: 600; }
  @media (max-width: 767px) {
    .login .login-title {
      font-size: 1.3rem; } }
.login .login-content {
  box-shadow: 1px 4px 8px 3px rgba(36, 41, 46, 0.08);
  border-radius: 12px;
  margin-top: 30px;
  padding: 20px;
  text-align: right; }
  .login .login-content form input {
    box-shadow: inset 0px 4px 8px 2px rgba(88, 108, 138, 0.1);
    border: unset; }
    .login .login-content form input:focus {
      box-shadow: 0 0 0 0.1rem #8746aa;
      outline: 0; }
  .login .login-content form .btn-container {
    text-align: center; }
    .login .login-content form .btn-container .login-btn {
      margin: 20px auto 0;
      background-color: #8746aa;
      color: #fff;
      outline: 0;
      border: 0;
      height: 40px;
      width: 200px;
      border-radius: 7px; }
.login .signup {
  text-align: center;
  margin-top: 30px; }
  .login .signup p {
    display: inline-block; }

.signup {
  margin-top: 100px; }
  @media (max-width: 767px) {
    .signup {
      margin-top: 50px; } }

.reset .btn-container .login-btn {
  width: 130px !important; }
.reset .btn-container .back-btn {
  margin-right: 40px;
  color: #232323; }

.personal-info input {
  box-shadow: inset 0px 4px 8px 2px rgba(88, 108, 138, 0.1);
  border: unset; }
  .personal-info input:focus {
    box-shadow: 0 0 0 0.1rem #8746aa;
    outline: 0; }
.personal-info .update-btn {
  margin-top: 20px;
  background-color: #8746aa;
  color: #fff;
  outline: 0;
  border: 0;
  padding: 7px 15px;
  border-radius: 6px; }
.personal-info input[type=file] {
  padding: 4px;
  overflow: hidden; }

.info {
  text-align: right; }
  .info .info-item {
    padding: 20px;
    margin-bottom: 20px; }
    .info .info-item .info-item-header {
      margin-bottom: 56px; }
      .info .info-item .info-item-header .info-title {
        text-align: center;
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 30px; }
      .info .info-item .info-item-header .line {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%); }
      .info .info-item .info-item-header .line1 {
        background: rgba(198, 201, 200, 0.4);
        height: 2px;
        width: 170px; }
      .info .info-item .info-item-header .line2 {
        background: #8746aa;
        height: 5px;
        width: 80px; }
    .info .info-item ul.list {
      list-style: none; }
      .info .info-item ul.list li {
        margin-bottom: 15px;
        line-height: 1.7; }
        .info .info-item ul.list li::before {
          content: "\2022";
          color: #8746aa;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-right: -1em;
          font-size: 24px; }

.home {
  position: relative;
  margin-top: 0;
  height: 600px;
  background-image: url(../images/test.jpg);
  background-size: cover;
  background-position: center; }
  .home .home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .home .home-content .home-title {
      font-size: 45px;
      color: #fff;
      margin-bottom: 25px; }
      @media (max-width: 767px) {
        .home .home-content .home-title {
          font-size: 30px; } }
    .home .home-content .home-desc {
      color: #ddd;
      width: 500px;
      margin: auto; }
      @media (max-width: 767px) {
        .home .home-content .home-desc {
          font-size: 15px;
          width: 100%; } }
    .home .home-content .button {
      width: 150px;
      padding: 10px 0;
      font-size: 17px;
      background-color: #8746aa;
      color: #fff;
      transition: background-color 0.5s;
      margin-top: 30px; }
      .home .home-content .button:hover {
        background-color: rgba(135, 70, 170, 0.7); }
      @media (max-width: 767px) {
        .home .home-content .button {
          margin-bottom: 10px; } }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.padding-y {
  padding: 40px 0; }

.capitalize {
  text-transform: capitalize; }

.section-header {
  position: relative;
  width: 50%;
  margin: auto;
  padding-bottom: 40px; }
  @media (max-width: 767px) {
    .section-header {
      width: 80%; } }
  .section-header .line {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); }
  .section-header .line1 {
    background: rgba(198, 201, 200, 0.4);
    height: 2px;
    width: 170px; }
  .section-header .line2 {
    background: #8746aa;
    height: 5px;
    width: 80px; }
  .section-header .section-title {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold; }
    @media (max-width: 767px) {
      .section-header .section-title {
        font-size: 22px; } }
  .section-header .section-desc {
    margin-top: 30px;
    margin-bottom: 30px; }

.services {
  background-color: #f7f7f7; }
  .services .service-item {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 6px;
    transition: all 0.5s; }
    .services .service-item:hover {
      background-color: rgba(135, 70, 170, 0.7);
      cursor: pointer; }
      .services .service-item:hover i {
        color: #8746aa;
        background-color: #fff; }
      .services .service-item:hover p, .services .service-item:hover h3 {
        color: #fff; }
    .services .service-item i {
      background-color: #8746aa;
      color: #fff;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 17px; }
    .services .service-item P {
      color: #888;
      line-height: 1.8; }
    .services .service-item h3 {
      margin: 20px 0;
      font-size: 20px; }

.testimonals .testimonals-content {
  margin: 20px 0;
  overflow: hidden; }
  .testimonals .testimonals-content .item {
    border-radius: 6px;
    background-color: rgba(135, 70, 170, 0.7);
    padding: 20px 10px; }
    @media (max-width: 767px) {
      .testimonals .testimonals-content .item {
        margin-bottom: 10px; }
        .testimonals .testimonals-content .item :last-child {
          margin-bottom: 0; } }
    @media (min-width: 768px) {
      .testimonals .testimonals-content .item {
        margin-bottom: 10px; } }
    .testimonals .testimonals-content .item img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      padding: 3px;
      border: 2px solid #fff; }
    .testimonals .testimonals-content .item h3 {
      color: #fff;
      margin: 15px 0 5px;
      font-size: 22px; }
    .testimonals .testimonals-content .item span, .testimonals .testimonals-content .item p {
      color: #fff;
      margin: 10px 0;
      display: block;
      font-size: 14px; }

/*# sourceMappingURL=style.css.map */
