// media
$maxMobile : "(max-width: 767px)";
$minMeduim : "(min-width: 992px)";
$maxMeduim : "(max-width: 1199px)";
$maxSmall : "(max-width: 991px)";
$minSmall : "(min-width: 768px)";
$minLarge : "(min-width: 1200px)";

$mainColor: #8746aa;

// general 
.hint{
    background-color: #1d8c1e;
    color: #fff;
    display: block;
    border-radius: 7px;
    height: 20px;
    font-size: 12px;
    margin: 10px 0;
}

.add-to-cart{
    width: 160px;
    height: 40px;
    border-radius: 7px;
    color: #8746aa;
    outline: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: 0.5s ease-in-out;
    &:hover{
        background-color: $mainColor;
        color: #fff;
        border-color: $mainColor;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-x{
    width: 80px;
    height: 35px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #eee !important;
    outline: 0;
    box-shadow: unset !important;
}

.order-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    h4{
        font-weight: 600;
        margin-top: 5px;
    }
    a{
        i{
            font-size: 50px;
            color: $mainColor;
        }
    }
}

.side-menu{
    min-height: 500px;
    box-shadow: 1px 4px 8px 3px rgba(36, 41, 46, 0.08);
    border-radius: 12px;
    @media #{$maxMobile} {
        min-height: unset;
    }
    .nav{
        padding: 15px;
        .nav-link{
            // color: rgba(11,23,37,.7);
            color: $mainColor;
        }
        .nav-link.active{
            background-color: #ffffff !important;
            font-weight: bold;
        }
    }
}

.table thead th{
    border-top: 0!important; 
    font-size: 13px;
}

// orders
.orders-details .table tbody td .add-to-cart{
    background-color: $mainColor;
    border-color: $mainColor;
    color: #fff;
    width: 80px;
    font-size: 14px;
    outline: 0;
}
// end general

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

header{
    // background-color: #343335;
    background-color: $mainColor;
    nav{
        width: 100%;
        // background-color: #7952B3 !important;
        a{
            color: #fff !important;
        }
        .dropdown-menu{
            background-color: $mainColor;
            color: #fff;
            text-align: right;
            top: 45px;
            left: -27px;
            a{
                &:hover{
                    background-color: #a969cc;
                    color: #fff;
                }
            }
        }
        .navbar-toggler{
            background-color: #fff;
        }
        form{
            position: relative;
            margin-right: 30px;
            @media #{$maxMobile} {
                margin-right: 0;
            }
            i{
                position: absolute;
                right: 20px;
                color: gray;
            }
            input{
                padding-right: 40px !important;
            }
        }
        @media (max-width: 991px) {
            .navbar-nav{
                    text-align: right !important;
            }
        }
    }
}
// start content
.content{
    margin: 40px;
    @media #{$maxMobile} {
        margin: 20px;
    }
    text-align: right;
    .products{
        min-height: 500px;
        .product-item{
            box-shadow: 1px 4px 8px 3px rgba(36, 41, 46, 0.08);
            border-radius: 12px;
            text-align: center;
            padding: 20px 7px;
            margin-bottom: 20px;
            .img-container{
                img{
                    max-height: 250px;
                    max-width: 100%;
                    cursor: pointer;
                    @media #{$maxMobile} {
                        max-height: 160px;
                    }
                }
            }
            .hint{
                width: 90%;
                margin: 10px auto;

            }
            .hint.warn{
                background-color: #da2222 !important;
            }
            a{
                font-size: 21px;
                color: #232323;
                margin: 20px 0;
                transition: 0.2s font-weight;
                text-decoration: none;
                font-weight: bold;
                color: $mainColor;
                // &:hover{
                // }
            }
            .price{
                font-size: 40px;
                font-weight: bold;
                display: block;
                margin: 15px 0;
                @media #{$maxMobile} {
                    margin: 0px;
                }
            }
            .profit{
                color: $mainColor;
                font-size: 18px;
            }
            // .add-to-cart{
            //     width: 160px;
            //     height: 40px;
            //     border-radius: 7px;
            //     color: #8746aa;
            //     outline: 0;
            //     border: 1px solid #ccc;
            //     background-color: #fff;
            //     transition: 0.5s ease-in-out;
            //     &:hover{
            //         background-color: $mainColor;
            //         color: #fff;
            //         border-color: $mainColor;
            //     }
            // }
        }
    }
}
// end content

// slider
.carousel-inner{
    max-height: 300px;
}
// end slider

footer{
    background: #08111c;
    color: #fff;
    padding: 30px;
    text-align: right;
    @media #{$maxMobile} {
        padding: 20px;
    }
    .footer-content{
        .footer-desc{
            p{
                line-height: 1.9;
                margin-top: 30px;
            }
        }
        .footer-social{
            margin-right: 156px;
            @media #{$maxMobile} {
                margin-right: 0;
            }
            h4{
                margin-bottom: 20px;
                margin-top: 25px;
            }
            input{
                padding: 10px 30px;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border: 0;
                outline: 0;
            }
            button{
                height: 44px;
                border: 0;
                width: 95px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                background-color: $mainColor;
                color: #fff;
                @media #{$maxMobile} {
                    margin-top: 15px;
                }
            }
            ul{
                list-style: none;
                margin-top: 20px;
                li{
                    display: inline-block;
                    a{
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                        background-color: $mainColor;
                        border-radius: 4px;
                        margin: 10px 5px;
                        text-align: center;
                        i{
                            line-height: 40px;
                            font-size: 20px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

// start product detail

// breadcrumb
.breadcrumb{
    margin: 20px 0;
    background-color: #fff;
    padding: .75rem 0 !important;
}

.breadcrumb > li + li:before {
    color: #ccc;
    content: "/ ";
    padding: 0 5px;
}
.breadcrumb {
    li{
        a{
            color: $mainColor;
        }
    }
}

.p-deatil-item{
    display: flex;
    justify-content: space-between;
    text-align: right;
    .img-container{
        img{
            max-width: 450px;
            max-height: 400px;
            @media #{$maxMobile} {
                max-width: 100%;
                max-height: 250px;
            }
        }
    }
    .p-detail-item-content{
        h1{
            margin-bottom: 30px;
        }
        .price, .profit{
            .title{
                display: inline-block;
                width: 75px;     
            }
            .num{
                font-size: 25px;
                font-weight: bold;
            }
        }
        .price{
            margin-bottom: 0;
        }
        .profit{
            .num{
                color: $mainColor;
            }
        }
        .delivery-hint{
            line-height: 18px;
            margin-top: 10px;
        }
        .hint{
            text-align: center;
            width: 100% !important;
        }
        .btns-container{
            margin-top: 15px;
            @media #{$maxMobile} {
                margin-top: 30px;
            }
            .add-btn{
                background-color: $mainColor;
                color: #fff;
                @media #{$maxMobile} {
                    width: 130px;
                }
            }
            .order-btn{
                margin-top: 10px;
                @media #{$minLarge} {
                    margin-right: 15px;
                }
            }
        }
    }
}
// end product detail
// product desc

.desc{
    text-align: right;
    @media #{$maxMobile} {
        margin-top: 30px;
    }
    ul{
        margin-right: 20px;
    }
    li{
        line-height: 2;
    }
}

// end product desc

// order page 


.order{
    text-align: right;
    margin-bottom: 70px;
    // background-color: #ede5f9;
    form{
        box-shadow: 1px 4px 8px 3px rgba(36, 41, 46, 0.08);
        border-radius: 12px;
        padding: 20px;
        background-color: #fff;
        .all-produucts{
            display: flex;
            justify-content: space-between;
            .del-all{
                color: #232323;
                width: 83px;
                border: 0;
                background: none;
                &:hover{
                    color: rgb(233, 79, 79);
                }

            }
        }
        .form-check{
            padding: 25px 0;
            @media #{$maxMobile} {
                margin-bottom: 25px;
                margin-right: 6px;
            }
            label{
                margin-right: 35px;
            }
        }
        input,select, textarea{
            box-shadow: inset 0px 4px 8px 2px rgba(88, 108, 138, 0.1);
            border: unset;
            &:focus{
                box-shadow: 0 0 0 0.1rem $mainColor;
                outline: 0;
            }
        }
    }
    .table{
        thead{
            th{
                border-bottom: unset;
                @media #{$maxMobile} {
                    padding: 5px 3px;
                    text-align: center;
                }
            }
        }
        tbody{
            tr{
                td{
                    vertical-align: middle;
                    @media #{$maxMobile} {
                        padding: 0 5px;
                    }
                }
                .p-detail{
                    @media  #{$maxMobile} {
                        max-width: 100px;
                        flex-direction: column;
                        margin-bottom: 10px;
                    }
                    @media (max-width: 320px) {
                        max-width: 50px;
                    }
                    display: flex;
                    justify-content: space-between;
                    img{
                        width: 80px;
                        height: 80px;
                        border: 1px solid #ccc;
                        border-radius: 12px;
                        @media (max-width: 320px) {
                            width: 45px;
                            height: 45px;
                        }
                    }
                    .p-title,.p-desc,button{
                        display: block;
                    }
                    .p-desc{
                        margin: 10px 0;
                        @media  #{$maxMobile} {
                            min-width: 100%;
                        }
                        min-width: 188px;
                    }
                    button{
                        color: #232323;
                        width: 70px;
                        height: 30px;
                        &:hover{
                            background-color: rgb(233, 79, 79);
                            color: #fff;
                            border: 0;
                        }
                    }
                }
                .profit{
                    font-weight: 700;
                    color: $mainColor;
                }
            }
        }
    }
    .top-table{
        .products-selection{
            display: flex;
            justify-content: space-between;
            align-items: center;
            th{
                border-top: unset;
            }
            .del-all{
                width: 123px;
                height: 40px;
                border-radius: 8px;
                background-color: #fff;
                border: 1px solid #ccc;
                outline: 0;
                transition: 0.5s ease-in-out;
                &:hover{
                    background-color: #e94f4f;
                    color: #fff;
                    border: 0;
                }
            }
        }
    }
    .order-checkout{
        box-shadow: 1px 4px 8px 3px rgba(36, 41, 46, 0.08);
        border-radius: 12px;
        padding: 20px;
        @media #{$maxMobile} {
            margin-top: 20px;
        }
        .item{
            display: flex;
            justify-content: space-between;
            padding: 10px;
            &:last-of-type{
                border-top: 1px solid #ccc;
                font-weight: bold;
                font-size: 20px;
            }
        }
        .profit{
            color: $mainColor;
            font-weight: bold;
            font-size: 18px;
        }
        button{
            width: 100%;
            margin-top: 20px;
            background-color: $mainColor;
            color: #fff;
            outline: 0;
            border: 0;
        }
    }
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
    &:focus{
        box-shadow: 0 0 0 0.1rem transparent !important;
        outline: 0;
    }
}

.wrap-mob{
    display: none !important;
    @media #{$maxMobile} {
        display: flex;
    }
}
// .large-body{
//     display: none;
//     @media #{$maxMobile} {
//         display: block ;
//     }
// }
// .mobile-body{
//     @media #{$maxSmall} {
//         display: none ;
//     }
// }




// end order page 


// wallet page
.wallet{
    padding: 20px 0;
    .wallet-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 16px;
        h4{
            font-weight: 600;
            margin-top: 5px;
        }
        button{
            width: 130px;
            outline: 0;
    
        }
    }
    .wallet-content{
        padding: 20px 16px;
        .wallet-item{
            display: flex;
            justify-content: center;
            background-color: $mainColor;
            color: #fff;
            line-height: 50px;
            height: 50px;
            border-radius: 4px;
            @media #{$maxMobile} {
                margin-bottom: 15px;
            }
            p,span{
                font-size: 22px;
            }
            span{
                margin-right: 15px;
            }
        }
        .profit-item{
            text-align: center;
            padding: 20px;
            // background-color: #eee;
            margin-top: 20px;
            border-radius: 4px;
            box-shadow: 1px 4px 8px 3px rgba(36, 41, 46, 0.08);
            .profit-item-title{
                font-size: 20px;
            }
            .profit-value{
                font-size: 18px;
            }
            .profit-hint{
                background-color: #f7f7f7;
                border-radius: 4px;
                height: 25px;
                line-height: 25px;
                font-size: 12px;
                margin-top: 16px;
                margin-bottom: 0;
            }
        }
    }
}
// popup
.modal-content{
    border-radius: 12px;
    border: none;
}
.modal-body{
    padding: 1rem 0 !important;
    height: 456px;
    overflow: overlay;
}

.settings-popup-header{
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    span{
        text-align: center;
        display: block;
        font-weight: 500;
    }
    img{
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }
}
.popup-content{
    text-align: right;
    form{
        margin: 30px 42px  !important;
        .form-control{
            font-size: 10px;
            height: 45px;
            border-radius: 8px;
            box-shadow: inset 0px 4px 8px 2px rgba(88, 108, 138, 0.1);
            border: unset;
            &:focus {
                color: #495057;
                background-color: #fff !important;
                border-color: #ced4da; 
                outline: 0;
            }
        }
        label{
            font-size: 12px;
        }
    }
    .forget-link{
        font-size: 12px;
        display: flex;
        justify-content: flex-end;
        color: #0366D6;
    }
    .forget-p{
        padding-top: 31px;
        font-size: 14px;
        width: 300px;
        margin: auto;
        @media (max-width: 767px){
            width: 100% !important;
        }
    }
}
.popup-footer{
    .submit-btn{
        width: 120px;
        height: 38px;
        border-radius: 8px;
        outline: 0;
        margin: 15px auto;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #8746aa;
        color: #fff;
        border: 0;
        }
}
// end popup
// end wallet page

// start orders
.orders{
    text-align: right;
    .orders-details{
        box-shadow: 1px 4px 8px 3px rgba(36, 41, 46, 0.08);
        border-radius: 12px;
        padding: 35px 20px 15px;
        margin-bottom: 40px;
        .search{
            position: relative;
            margin-bottom: 30px;
            i{
                position: absolute;
                right: 20px;
                top: 11px;
                color: gray;
            }
            input{
                padding-right: 40px !important;
                width: 99%;
            }
        }
        nav{
            margin-top: 30px;
            .page-link{
                color: $mainColor !important;

            }
            .page-item.active .page-link{
                z-index: 3;
                color: #fff !important;
                background-color: $mainColor !important;
                border-color: $mainColor !important;
            }
        }
    }
    .custom-sidebar{
        position: -webkit-sticky;
        position: sticky;
        top: 15px;
        .list-group.tap-profile{
            // min-height: 280px;
            // padding: 25px 0;
            // background-color: #fff;
            box-shadow: 1px 4px 8px 3px rgba(36, 41, 46, 0.08);
            border-radius: 12px;
            .list-group-item{
                border: unset;
                background-color: transparent!important;
                padding: 15px 20px;
                border-radius: unset;
                position: relative;
                color: $mainColor;
                .tap-name {
                    margin: unset;
                    font-size: 14px;
                    font-weight: 300;
                }
                &::after{
                    position: absolute;
                    bottom: 0;
                    right: 1px;
                    width: 100%;
                    height: 1px;
                    background-color: rgba(36, 41, 46, 0.08);
                    content: '';
                }
                &:last-of-type{
                    &::after{
                        display: none;
                    }
                }
            }
            .list-group-item.active{
                border-right: 3px solid $mainColor;
                border-radius: 4px;
                .tap-name {
                    font-weight: 600;
                }
            }
        }
    }
}
// end orders

// start login
.login{
    @media #{$maxMobile}{
        width: 100%;
    }
    @media #{$maxMeduim}{
       margin-top: 50px;
    }
    @media #{$minLarge} {
        width: 520px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .login-title{
        text-align: center;
        font-weight: 600;
        @media #{$maxMobile} {
            font-size: 1.3rem;
        }
    }
    .login-content{
        box-shadow: 1px 4px 8px 3px rgba(36, 41, 46, 0.08);
        border-radius: 12px;
        margin-top: 30px;
        padding: 20px;
        text-align: right;
        form{
            input{
                box-shadow: inset 0px 4px 8px 2px rgba(88, 108, 138, 0.1);
                border: unset;
                &:focus{
                    box-shadow: 0 0 0 0.1rem $mainColor;
                    outline: 0;
                }
            }
            .btn-container{
                text-align: center;
                .login-btn{
                    margin: 20px auto 0;
                    background-color: #8746aa;
                    color: #fff;
                    outline: 0;
                    border: 0;
                    height: 40px;
                    width: 200px;
                    border-radius: 7px;
                }
            }
        }
    }
    .signup{
        text-align: center;
        margin-top: 30px;
        p{
            display: inline-block;
        }
    }
}
// end login

.signup{
    margin-top: 100px;
    @media #{$maxMobile} {
        margin-top: 50px;
    }
}
.reset{
    .btn-container{
        .login-btn{
            width: 130px !important;
        }
        .back-btn{
            margin-right: 40px;
            color: #232323;
        }
    }
}


// personal-info

.personal-info{
    input{
        box-shadow: inset 0px 4px 8px 2px rgba(88, 108, 138, 0.1);
        border: unset;
        &:focus{
            box-shadow: 0 0 0 0.1rem $mainColor;
            outline: 0;
        }
    } 
    .update-btn{
        margin-top: 20px;
        background-color: #8746aa;
        color: #fff;
        outline: 0;
        border: 0;
        padding: 7px 15px;
        border-radius: 6px;
    }
    input[type = file]{
        padding: 4px;
        overflow: hidden;
    }
}

// info 
.info{
    text-align: right;
    .info-item{
        padding: 20px;
        margin-bottom: 20px;
        .info-item-header{
            margin-bottom: 56px;
            .info-title{
                text-align: center;
                margin-bottom: 25px;
                font-weight: bold;
                font-size: 30px;
            }
            .line{
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .line1{
                background: rgba(198, 201, 200, 0.4);
                height: 2px;
                width: 170px;
            }
            .line2{
                background: $mainColor;
                height: 5px;
                width: 80px;
            }
        }
        ul.list{
            list-style: none;
            li{
                margin-bottom: 15px;
                line-height: 1.7;
                &::before{
                    content: "\2022";
                    color: $mainColor;
                    font-weight: bold;
                    display: inline-block; 
                    width: 1em;
                    margin-right: -1em;
                    font-size:24px;
                }
            }
        }
    }
}
// end info 


// landing page 
// start home
.home{
    position: relative;
    margin-top: 0;
        .home-content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .home-title{
                font-size: 45px;
                color: #fff;
                margin-bottom: 25px;
                @media #{$maxMobile} {
                    font-size: 30px;
                }
            }
            .home-desc{
                color: #ddd;
                width: 500px;
                margin: auto;
                @media #{$maxMobile} {
                    font-size: 15px;
                    width: 100%;
                }
            }
            .button{
                width: 150px;
                padding: 10px 0;
                font-size: 17px;
                background-color: $mainColor;
                color: #fff;
                transition: background-color 0.5s;
                margin-top: 30px;
                &:hover{
                    background-color: rgba($mainColor, 0.7);
                }
                @media #{$maxMobile} {
                    margin-bottom: 10px;
                }
            }
        
    }
    height: 600px;
    background-image: url(../images/test.jpg);
    background-size: cover;
    background-position: center;

}
// end home
// general
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.padding-y{
    padding: 40px 0;
}
.capitalize{
    text-transform: capitalize;
}
// section header
.section-header{
    position: relative;
    width: 50%;
    margin: auto;
    padding-bottom: 40px;
    @media #{$maxMobile} {
        width: 80%;
    }
    .line{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .line1{
        background: rgba(198, 201, 200, 0.4);
        height: 2px;
        width: 170px;
    }
    .line2{
        background: $mainColor;
        height: 5px;
        width: 80px;
    }
    .section-title{
        margin-bottom: 15px;
        font-size: 30px;
        font-weight: bold;
        @media #{$maxMobile} {
            font-size: 22px;
        }
    }
    .section-desc{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
// end general
// start services
.services{
    background-color: #f7f7f7;
    .service-item{
        background-color: #fff;
        padding: 20px;
        margin: 10px 0;
        border-radius: 6px;
        transition: all 0.5s;
        &:hover{
            background-color: rgba($mainColor, 0.7);
            cursor: pointer;
            i{
                color: $mainColor;
                background-color: #fff;
            }
            p, h3{
                color: #fff;
            }
        }
        i{
            background-color: $mainColor;
            color: #fff;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 17px;
        }
        P{
            color: #888;
            line-height: 1.8;
        }
        h3{
            margin: 20px 0;
            font-size: 20px;
        }
    }
}
// end services
// start testimonials
.testimonals{
.testimonals-content{
    margin: 20px 0;
    overflow: hidden;
    .item{
        border-radius: 6px;
        @media #{$maxMobile}{
            margin-bottom: 10px;
            :last-child{
                margin-bottom: 0;
            }  
        }
        @media #{$minSmall}{
            margin-bottom: 10px;
        }
        background-color: rgba($mainColor, 0.7);
        padding: 20px 10px;
        img{
            width: 90px;
            height: 90px;
            border-radius: 50%;
            padding: 3px;
            border: 2px solid #fff;
        }
        h3{
            color: #fff;
            margin: 15px 0 5px;
            font-size: 22px;
        }
        span, p{
            color: #fff;
            margin: 10px 0;
            display: block;
            font-size: 14px;
        }
    }
}
}
// end testimonials
// landing page 

































// start header
// header{
//     height: auto;
//     padding: 10px 0;
//     position: fixed;
//     width: 100%;
//     z-index: 2;
//     @media #{$maxMobile}{
//         background-color: #333;
//     }
//     .bars{
//         i{
//             position: absolute;
//             right: 25px;
//             top: 32px;
//             display: block;
//             cursor: pointer;
//             z-index: 10;
//             color: #333;
//         }
//     }
//     .logo{
//         h2{
//             font-size: 30px;
//             color: #333;
//             cursor: pointer;
//         }
//     }
//     nav{
//         .nav-list{
//             display: block;
//             padding: 0;
//             margin: 10px 0;
//             // make my list is hidden in extra small screens
//             @media #{$maxMobile}{
//                 display: none;
//                 margin: 0;
//             }
//             // make my list is visible from small screens to large
//             @media #{$minSmall}{
//                 display: block !important;
//             }
//             @media #{$minLarge}{
//                 margin-top: 10px;
//             }
//             list-style: none;
//             margin-bottom: 0;
//             .list{
//                 display: inline-block;
//                 // make li element is block in extra small screens
//                 @media #{$maxMobile}{
//                     display: block;
//                 }
//                 a{
//                     padding: 10px;
//                     display: block;
//                     margin: 10px 0;
//                     text-decoration: none;
//                     color:#333;
//                     transition: color 0.5s;
//                     &:hover{
//                         color: $mainColor;
//                     }
//                     // remove padding in in extra small screens
//                     @media #{$maxMobile}{
//                         padding: 0;
//                     }
//                     // update padding in large screens
//                     @media #{$minLarge}{
//                         padding: 15px;
//                     }
//                 }
//                 form{
//                     position: relative;
//                     i{
//                         position: absolute;
//                         z-index: 999;
//                         right: 24px;
//                     }
//                     input{
//                         padding-right: 50px;
//                     }
//                 }
//             }
//         }
//     }
// }
// end header